/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* stylelint-disable */

/* Keep reset CSS to one minified line */

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

html, .reset {
  line-height: 1

}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

/* stylelint-enable */

/* Begin site styles below */

html {
  background-color: #EF0003;
  color: yellow;
  font-size: 1.625em; /* 26 / 16 = 1.625 */
  line-height: 0.923em; /* 24 / 26 = 0.923*/
  padding: 0.75em;
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: 'Fascinate Inline';
}

h2 {
  font-family: 'Kaushan Script';
}

figcaption {
  font-family: 'Bungee Shade';
  background-color: #FDD5B1;/*;*/
  border-radius: 0.2em;
  text-align: center;
  padding-top: 0.5em;
  color: #832A0D;
  font-weight: bold;
  line-height: 1.25em;
  opacity: 0.8;
}

#grabber h2 {
  color:#FBE7B2;
}

a {
  font-family: 'Shadows Into Light';
  color:#E77200;
  background-color: black;
  border-radius: 0.2em;
}

section h2 {
  color: #FBE7B2;
  padding-bottom: 0.5em;
}

body {
  padding-bottom: 1.25em; /* 30 / 24 = 1.25 */
}

li {
  padding-top: 1.25em; /* 30 / 24 = 1.25 */
}

ul {
  padding-top: 1.25em; /* 30 / 24 = 1.25 */
}

p {
  font-family: 'Merienda';
  /*font-family: 'Rock Salt'; /*THIS IS MY PERSONAL FAV */
}

h4, label {
  font-family: 'Kalam';
}

figcaption {
  padding-bottom: 0.688em; /* 22 / 31.984 = 0.688 */
}


.input {
  display: flex;
  padding-top: 0em;
}

.input img{
  padding-top: 0em;
  margin-left: 1.5em;
}

.input a {
  padding-top: 0em;
  line-height: 1;
  margin-left: 2em;
  text-align: center;
  text-decoration: none;
}

.info li {
  padding-bottom: 0.923em;
  padding-top: 0em;
}

#question h2 {
  padding-bottom: 1.5em;
}

#home-pizza img {
  padding-top: 1em;
}

#main-page h1,
#final-page h1 {
  line-height: 1.38em; /* 36 / 26 = 1.38*/
}

#user-order p {
  /*background-color: #A73203;*/
  color: black;
}

/* Responsive Media */
img {
  padding-top: 1.125em; /* 18 / 16 = 1.125 */
  display: block;
  max-width: 100%;
  border-radius: 0.2em;
}

#sizeandcrust{
  margin-top: 1.375em;
  border: 0.15em solid black;
  padding: 0.687em 0.687em;
  background-color: #ff531a;
}

ol p {
  line-height: 1.75em;
  padding-top: 0.5em;
}

ol li {
  padding-top: 0.15em;
  margin-top: 0em;
  padding-bottom: 0.8em;
}

input.checked[type="radio"], input.checked[type="checkbox"] {
  visibility: hidden;
  cursor: pointer;
}

/*
TODO: fix this to reflect proper selection of items!
*/
input[type=radio]:checked+label,
input[type=checkbox]:checked+label {
   border: 0.2em inset red;
   border-radius: 0.4em;
   background-color: #ffb894;
   width: 65%;
   padding-top: 0.1em;
   padding-bottom: 0.1em;
   opacity: 0.6;
   color: black;
}

ol label {
  display: flex;
  padding-top: 0em;
}

.steps li {
  padding-top: 0.5em;
}

#cheeses{
  margin-top: 1.375em;
  border: 0.15em solid black;
  padding: 0.687em 0.687em;
  background-color: #ff531a;
}

#meats{
  margin-top: 1.375em;
  border: 0.15em solid black;
  padding: 0.687em 0.687em;
  background-color: #ff531a;
}
#veggies{
  margin-top: 1.375em;
  border: 0.15em solid black;
  padding: 0.687em 0.687em;
  background-color: #ff531a;
}
#classic {
  margin-top: 1.375em;
  border: 0.15em solid black;
  padding: 0.687em 0.687em;
  background-color: #ff531a;
}

#prep-pizza h2 {
  padding-top: 1.5em;
  padding-bottom: 0em;
}

#paymentinfo h4 {
  padding-bottom: 0.8em;
  color: #FBE7B2;
  font-family: 'Kaushan Script';
}

input[type=submit] {
    padding: 0.3125em 0.9375em;
    background: #E77200;
    color: black;
    font-weight: bold;
    border: 0.3em solid black;
    cursor: pointer;
    -webkit-border-radius: 0.3125em;
    border-radius: 0.3125em;
    margin-left: 1em;
}

#location, #delivery-form, #checkout-form {
  margin-top: 0.5em;
  border: 0.15em solid black;
  padding: 0.687em 0.687em;
  background-color: #e0a366;
}

.info li, .payment li {
  padding: 0.611em; /* 11 / 18 = 0.6111; (22 - 13) = 9 / 18 = 0.5 */
  margin-bottom: 0.611em; /* 11 / 18 = 0.6111 */
  border-radius: 0.2em;
  background: #996633;
  opacity: 0.6;
}

.locations label, .info label, .payment label {
   color: black;
}

.payment .submit-button {
  border: none;
  background: none;
  clear: both;
}

#next li {
  float: right;
  padding-right: 1em;
}

input {
  color: white;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  line-height: 1;
  height: 2.444em; /* 44 / 18 = 2.444 */
  background: inherit;
}

input::placeholder {
  font-family: 'Kalam';
  font-weight: bold;
  font-size: 1.25em; /* 26 / 16 = 1.625 */
  color: whitesmoke; /*text color for input fields*/
  opacity: 0.8;
}

.invalid {
  color: red;
}
/* State Styles */
/*Hint: these tend to be:
1. Driven by media queries
2. Influenced by JavaScript
3. Organized by Base, Layout, Module, State
*/

@media screen and (min-width: 50.25em) {  /* 804px*/
}

@media screen and (min-width: 82.5em) {  /*1320px*/
}
